<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>mathSite</title>
</head>
<body>
    <h1>Билеты по матеше</h1>
    <img src="{% static "images/Screenshot 2025-02-08 062325.png" %}">
    <img src="{% static "images/1.png" %}">
    <p> </p>
    <img src="{% static "images/2.png" %}">
    <p> </p>
    <img src="{% static "images/3.png" %}">
    <p> </p>
    <img src="{% static "images/4.png" %}">
    <p> </p>
    <img src="{% static "images/5.png" %}">
    <p> </p>
    <img src="{% static "images/6.png" %}">
    <p> </p>
    <img src="{% static "images/7.png" %}">
    <p> </p>
    <img src="{% static "images/8.png" %}">
    <p> </p>
    <img src="{% static "images/9.png" %}">
    <p> </p>
    <img src="{% static "images/10.png" %}">
    <p> </p>
    <img src="{% static "images/11.png" %}">
    <p> </p>
    <img src="{% static "images/12.png" %}">
    <p> </p>
    <img src="{% static "images/13.png" %}">
    <p> </p>
    <img src="{% static "images/14.png" %}">
    <p> </p>
    <img src="{% static "images/15.png" %}">
    <p> </p>
    <img src="{% static "images/16.png" %}">
    <p> </p>
    <img src="{% static "images/17.png" %}">
    <p> </p>
    <img src="{% static "images/18.png" %}">
    <p> </p>
    <img src="{% static "images/19.png" %}">
    <p> </p>
    <img src="{% static "images/20.png" %}">
    <p> </p>
    <img src="{% static "images/21.png" %}">
    <p> </p>
    <img src="{% static "images/22.png" %}">
    <p> </p>
    <img src="{% static "images/23.png" %}">
    <p> </p>
    <img src="{% static "images/24.png" %}">
    <p> </p>
    <img src="{% static "images/25.png" %}">
    <p> </p>
    <img src="{% static "images/26.png" %}">
    <p> </p>
    <img src="{% static "images/27.png" %}">
    <p> </p>
    <img src="{% static "images/28.png" %}">
    <p> </p>
    <img src="{% static "images/29.png" %}">
    <p> </p>
    <img src="{% static "images/30.png" %}">
    <p> </p>
    <img src="{% static "images/31.png" %}">
    <p> </p>
    <img src="{% static "images/32.png" %}">
    <p> </p>
    <img src="{% static "images/33.png" %}">
    <p> </p>
    <img src="{% static "images/34.png" %}">
    <p> </p>
    <img src="{% static "images/35.png" %}">
    <p> </p>
    <img src="{% static "images/36.png" %}">
    <p> </p>
    <img src="{% static "images/37.png" %}">
    <p> </p>
    <img src="{% static "images/38.png" %}">
    <p> </p>
    <img src="{% static "images/39.png" %}">
    <p> </p>
    <img src="{% static "images/40.png" %}">
    <p> </p>
    <img src="{% static "images/41.png" %}">
    <p> </p>
    <img src="{% static "images/42.png" %}">
    <p> </p>
    <img src="{% static "images/43.png" %}">
    <p> </p>
    <img src="{% static "images/44.png" %}">
    <p> </p>
    <img src="{% static "images/45.png" %}">
    <p> </p>
    <img src="{% static "images/46.png" %}">
    <p> </p>
    <img src="{% static "images/47.png" %}">
    <p> </p>
    <img src="{% static "images/48.png" %}">
    <p> </p>
    <img src="{% static "images/49.png" %}">
    <p> </p>
    <img src="{% static "images/50.png" %}">
    <p> </p>
    <img src="{% static "images/51.png" %}">
    <p> </p>
    <img src="{% static "images/52.png" %}">
    <p> </p>
    <img src="{% static "images/53.png" %}">
    <p> </p>
    <img src="{% static "images/54.png" %}">
    <p> </p>
    <img src="{% static "images/55.png" %}">
    <p> </p>
    <img src="{% static "images/56.png" %}">
    <p> </p>
    <img src="{% static "images/57.png" %}">
    <p> </p>
    <img src="{% static "images/58.png" %}">
    <p> </p>
    <img src="{% static "images/59.png" %}">
    <p> </p>
    <img src="{% static "images/60.png" %}">
    <p> </p>
    <img src="{% static "images/61.png" %}">
    <p> </p>
    <img src="{% static "images/62.png" %}">
    <p> </p>
    <img src="{% static "images/63.png" %}">




</body>
</html>